*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.idsig
*.keystore
*.jks
*.p12
*.dpapi
keystore.properties
/alignspec/
/docs/
/doc/
/.claude/
/.kotlin/
*.md
!/README.md
*.txt
*.doc
*.docx
*.pdf
